<article class="post">
      <div class="title">
        <h2>{{ activity_title }}</h2>
      </div>
      <div class="description">
          <h3>Date: {{activity_date}} Location: {{group_location}} People Needed: {{open_slots}}</h3>
          <p> {{activity_description}} </p>
      </div>
    </article>